---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { SITE } from "@consts";
---

<header>
  <Container>
    <div class="flex items-baseline gap-4">
      <Link href="/" underline={false}>
        <div class="font-display font-semibold text-4xl md:text-5xl lg:text-6xl">
          {SITE.NAME}
        </div>
      </Link>
      <nav class="flex gap-1 font-display text-lg md:text-xl lg:text-2xl">
        <Link href="/blog" underline={false}>
          blog
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/photos" underline={false}>
          photos
        </Link>
        <span>
          {`/`}
        </span>
        <Link href="/about" underline={false}>
          about
        </Link>
      </nav>
    </div>
  </Container>
</header>
